{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if current_prompt %}
<div id="chat_hist" data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <div>
        <h5 id="scrollspyHeading1" style="display: inline-block; margin-right: 10px;">
            Current Prompt
        </h5>
        <span class="card-subtitle mb-2 text-body-secondary" style="display: inline-block;">
            Date: {{ current_prompt.datetime }} ({{ current_prompt.datetime | naturaltime }})
        </span>
    </div>
    <p>
        {{ current_prompt.message }}
    </p>
</div>
{% else %}
<div id="no-prompt-info" class="alert alert-info">
    There is no prompt available at the moment.
</div>

{% endif %}

<form method="POST" action="{% url 'bot:update_prompt' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Update Prompt</button>
</form>


{% endblock %}